<div th:fragment="header">
  <div class="container-fluid fixed-top head " >
    <header class="d-flex flex-wrap">
      <div class="row">

        <div class="logo rounded-4 shadow-lg col border border-warning">
        <div class="row">
        <a href="/" class="text-decoration-none col-6">
          <img class="logo-img" src="/img/logo.svg" >
        </a>
        <p class="text-light logo-text col-6">Сервис карт</p>
      </div>
      </div>

        <div class="navigation rounded-4 shadow-lg col border border-warning">
          <ul>
            <li><a href="/"><img class="img-navigation" src="img/icons/dashboard.png"></a></li>
            <li><a href="/settings"><img class="img-navigation" src="img/icons/settings.png"></a></li>
            <li><a href="/save_map"><img class="img-navigation" src="img/icons/save_map.png"></a></li>
            <li><a href="/faq"><img class="img-navigation" src="img/icons/faq.png"></a></li>
          </ul>
        </div>

      </div>
    </header>
  </div>
</div>