<div th:fragment="setting_panel">
  <div >
    <div class="card  rounded-3 shadow-lg panel border border-warning" >
      <div class="card-header text-center shadow-sm">
        <h4 class="text-light ">Сетевые параметры</h4>
      </div>
      <br>
      <div class="card-body">
        <p class="text-light"><span class="text-warning">IMEI:</span>                      <span th:text="${el.identification[imei]}"></span></p>
        <p class="text-light"><span class="text-warning">IP:</span>                        <span th:text="${el.settings[ip]}"></span></p>
        <p class="text-light"><span class="text-warning">Порт:</span>                      <span th:text="${el.settings[port]}"></span></p>

        <p class="text-light"><span class="text-warning">IP центрального узла:</span>      <span th:text="${el.settings[server_ip_cn]}"></span></p>
        <p class="text-light"><span class="text-warning">Порт центрального узла:</span>    <span th:text="${el.settings[server_port_cn]}"></span></p>

      </div>
      <br>
    </div>
  </div>
</div>