<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="lib/bootstrap-5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
    >
    <link href="css/header.css" rel="stylesheet" >
    <link href="css/body.css" rel="stylesheet" >
    <script
            src="lib/bootstrap-5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
</head>
<body class="body-main">
<div th:insert="~{settings_elem/header :: header}"></div>
<div class="row content-container" >



</div>
</body>
</html>