<div th:fragment="elem_0">
  <div class="accordion-item ">
    <h2 class="accordion-header ac-header" id="heading_0">
      <button class="accordion-button collapsed border" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_0" aria-expanded="false" aria-controls="collapse_0">
        Сервис карт
      </button>
    </h2>

    <div id="collapse_0" class="accordion-collapse collapse " aria-labelledby="heading_0" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        ....................
      </div>
    </div>
  </div>
</div>